.app-header {
  display: flex;
  align-items: center;
  background-color: #0f2836;
  padding: 10px;
  margin-bottom: 20px;
}

.logo {
  width: auto;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
  fill: #fffff9;
}

.brand-name {
    color: #bce0f4;
    margin-top: 10px;
}