.app-header {
  display: flex;
  align-items: center;
  background-color: #ffffd3;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
}

.logo {
  width: auto;
  height: 50px;
  margin-right: 10px;
  margin-left: 10px;
}

.brand-name {
    color: #a3d4f7;
    margin-top: 10px;
}